$tud-blue: #002557;
$menu-font-color: #fff;
$stage-btn-color: #fff;
$stage-btn-font: $tud-blue;
$stage-btn-font-active: #fff;
$error-bg-color: #f2dede;
$error-font-color: #a94442;
$warning-bg-color: #fff3cd;
$warning-font-color: #856404;
$info-bg-color: #cce5ff;
$info-font-color: #tud-blue;
$notification-bg-color: $error-font-color;

.menu-bar {
  -fx-background-color: $tud-blue;
  -fx-use-system-menu-bar: true;
}

.menu .label {
  -fx-text-fill: $menu-font-color;
  -fx-font-weight: bold;
  -fx-font-scale: 20;
}

.menu-item .label {
  -fx-text-fill: #000;
}

HBox {
  -fx-spacing: 10;
}

VBox {
  -fx-padding: 10;

  &.warn {
    -fx-background-color: $warning-bg-color;
  }

  &.info {
    -fx-background-color: $info-bg-color;
  }
}

.stageBtn {
  -fx-background-color: $stage-btn-color;
  -fx-background-radius: 0, 0;
  -fx-text-fill: $stage-btn-font;
  -fx-pref-width: 100px;
  -fx-pref-height: 75px;
  -fx-vgap: 10;

  &.active {
    -fx-background-color: $tud-blue;
    -fx-text-fill: $stage-btn-font-active;
    -fx-font-weight: bold;
  }
}

Button {
  &:focused {
    -fx-border-color: $tud-blue;
  }
}

.messageBtn {
  -fx-background-color: none;
  -fx-background-radius: 90, 90;
  -fx-pref-height: 50px;
  -fx-pref-width: 50px;

  &#btn_infos {
    //-fx-background-color: $info-bg-color;
    -fx-text-fill: $info-font-color;
  }
  &#btn_warnings {
    //-fx-background-color: $warning-bg-color;
    -fx-text-fill: $warning-font-color;
  }
  &:focused {
    -fx-border-color: none;
  }
}

WebView {
  -fx-min-width: 75%;
}

Label {
  -fx-padding: 0 10 0 10;
  -fx-wrap-text: true;

  &.notification {
    -fx-text-fill: $menu-font-color;
    -fx-font-weight: bold;
  }
}
.label_message {
  -fx-pref-height: 0;
  -fx-padding: 8 0 8 0;
  -fx-font-weight: bold;

  &.warn {
    -fx-padding: 8 10 8 0;
    -fx-background-color: $warning-bg-color;
    -fx-text-fill: $warning-font-color;
    -fx-fill: $warning-font-color;
  }

  &.error {
    -fx-background-color: $error-bg-color;
    -fx-text-fill: $error-font-color;
    -fx-fill: $error-font-color;
  }
  &.info,
  &.trace {
    -fx-background-color: $info-bg-color;
    -fx-text-fill: $info-font-color;
    -fx-fill: $info-font-color;
  }
}
.scrollPane-message {
  &.warn {
    -fx-background-color: $warning-bg-color;
  }
  &.info {
    -fx-background-color: $info-bg-color;
  }
}
.notification-circle {
  -fx-fill: $notification-bg-color;
  -fx-stroke-width: 0;
}

.p-0 {
  -fx-padding: 0;
}