HBox {
  -fx-spacing: 10;
}

VBox {
  -fx-padding: 10;

  &.stage3_container {
    -fx-padding: 0;
  }

  &.warn {
    -fx-background-color: $warning-bg-color;
  }

  &.info {
    -fx-background-color: $info-bg-color;
  }

  &.dynamic-fields {
    -fx-padding: 0;
    > HBox {
      > Label {
      }
    }
  }
}

AnchorPane {
  &.loading {
    -fx-background-color: rgba(250, 250, 250, 0.5);
    -fx-font-scale: 21px;
    -fx-font-weight: bold;
  }
}

WebView {
  -fx-min-width: 75%;
}

Label {
  -fx-font-size: 10pt;
  -fx-padding: 0 10 0 10;
  -fx-wrap-text: true;
  -fx-pref-height: 17px;

  &.invalid {
    -fx-text-fill: $error-font-color;
    -fx-font-weight: bold;
  }

  &.headline {
    -fx-padding: 10 10 0 10;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
    -fx-alignment: center;
    -fx-text-alignment: center;
  }

}

ChoiceBox, Combobox,
.check-combo-box > .combo-box {
  @extend Label;
  -fx-cursor: hand;
  -fx-mark-color: $tud-blue;
  -fx-min-width: 50px;
  -fx-pref-height: 25px;
  -fx-focus-color: $tud-blue;
  //-fx-faint-focus-color: transparentize($tud-blue, 0.5);

  .menu-item:focused {
    -fx-background-color: $tud-blue;
    .label {
      -fx-text-fill: $menu-font-color;
      -fx-font-weight: bold;
    }

  }
  .context-menu {
    -fx-min-width: 210px;
  }

  &.invalid {
    -fx-border-color: $error-font-color;
    -fx-border-width: 2px;
    -fx-border-radius: 3;
  }
}

TextField, TextArea {
  @extend ChoiceBox;;
  -fx-cursor: text;
  -fx-border-radius: 3;
  -fx-min-height: 25;

  &.invalid {
    -fx-border-color: $error-font-color;
    -fx-border-width: 2px;
    -fx-border-radius: 3;
  }
}

TextArea {
  -fx-padding: 0;
}

RadioButton, CheckBox {
  -fx-cursor: hand;
  -fx-mark-color: $tud-blue;
  .radio {
    -fx-background-color: white;
    //-fx-background-image: null;
    -fx-border-width: 1px;
    -fx-border-color: lighten(grey, 10%);
    -fx-border-radius: 15px;
  }
  &:focused {
    .radio, .mark, .box {
      -fx-border-color: $tud-blue;
    }
  }
}

AnchorPane.preview-container {
  //prefHeight="210.0"
  //prefWidth="297.0"
  -fx-focus-color: $tud-blue;
  -fx-focus-traversable: false;

  > WebView {
    -fx-focus-traversable: true;
    -fx-focus-color: $tud-blue;
  }
}

ScrollPane {
  -fx-border-color: none;
  -fx-background-color: none;
}

ListView {
  -fx-border-color: $tud-blue;
}

Text {
  &:focused {
    -fx-fill: $tud-blue;
    -fx-font-style: italic;
  }
  &.headline {
    -fx-font-weight: bold;
  }
}
