.data-table {

  &-container {
    -fx-border-color: none;
    -fx-background-color: none;
  }

  > .header-row {
    -fx-background-color: $tud-blue;
    > .header-cell {
      -fx-text-fill: $menu-font-color;
      -fx-padding: 5 0 5 10;
      -fx-pref-width: 200;
      -fx-text-alignment: left;
      -fx-alignment: center-left;
      -fx-background-color: none;
      -fx-border-color: none;
      -fx-font-weight: bold;

      &:focused {
        -fx-background-color: lighten($tud-blue, 5%);
      }
    }


  }
  > .data-row {
    -fx-padding: 5 0 5 0;
    &.even {
      -fx-background-color: white;
    }
    &.odd {
      -fx-background-color: lighten($tud-blue, 80%);
    }
    &:focused {
      -fx-border-color: $tud-blue;
    }

    > .data-cell {
      -fx-pref-width: 200;
      -fx-alignment: center-left;
      &.read-only {
        // -fx-background-color: none;
        -fx-background-color: none;
        -fx-border: none;

        &:focused {
          -fx-text-fill: $tud-blue;
          -fx-font-weight: bold;
        }
      }


      &-button {
        -fx-background-color: none;

        &:focused {
          -fx-padding: 3 7;
        }
      }
    }
    > Button, > .header-cell-action {
      @extend .data-cell-button;
    }

  }
}
