.data-table {

  &-container{
    -fx-border-color: none;
    -fx-background-color: none;
  }

  > .data-row {
    -fx-padding: 0 0 10 0;
    > .data-cell {

      &-x {
        .read-only {
         // -fx-background-color: none;
        }
      }

      &-y {

      }

      &-button {
        -fx-background-color: none;

        &:focused {
          //-fx-border-color: none;
        }
      }
    }
    > Button {
       @extend .data-cell-button;
    }

  }
}

