.dialog {
  -fx-pref-width: 500px;
  > *.button-bar > *.container {
    -fx-background-color: none;
  }

  *.label.content {
    -fx-font-size: 14px;
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-min-height: 50px;
    -fx-padding: 10px;
    -fx-text-alignment: justify;

    &:focused {
      -fx-text-fill: $tud-blue;
      -fx-font-style: italic;
    }
  }

  &:header *.header-panel {
    *.label {
      -fx-font-size: 13px;
    }
  }

  &.h-100{
    *.label.content {
      -fx-min-height: 100px;
    }
  }
}