// cd-colors
$tud-blue: #002557;
$menu-font-color: #fff;

// stage btns
$stage-btn-color: #fff;
$stage-btn-font: $tud-blue;
$stage-btn-font-active: #fff;

// messages
$error-bg-color: #f2dede;
$error-font-color: #a94442;
$warning-bg-color: #fff3cd;
$warning-font-color: #856404;
$info-bg-color: #cce5ff;
$info-font-color: $tud-blue;
$notification-bg-color: $error-font-color;
